/*
 *	Skin
 */

/* common */
html{background:url(http://p9.qhimg.com/t017b4f39fa27b08f98.png) no-repeat 50% 0 #fff;}
body{}
a{color:#000;}
a:hover{color:#f00;}

/* layout */
.doc{}
.doc-hd{
	background: none;
}
/* module */
.md{border:none;}
.md .hd{}
.md .hd .tit{background:url(http://p8.qhimg.com/t01d6db227447eec231.png) no-repeat 0 0;height:52px;padding-left:10px;}
.md .hd .tit-pic{top:5px;}
.md .bd{border-right:1px solid #fdcf7a;border-left:1px solid #fdcf7a;padding:0;}
.md .bd-in{border-right:1px solid #f8b158;border-left:1px solid #f8b158;padding:8px;}
.md .ft{background:url(http://p6.qhimg.com/t01b7136414874ca00b.png) no-repeat 100% 0;height:10px;padding-right:10px;
	overflow:hidden;
}
.md .ft span{background:url(http://p6.qhimg.com/t01b7136414874ca00b.png) no-repeat 0 0;height:10px;
	padding-left:10px;display:block;
}

/* crumb */
.crumb .home{}

/* button */
.ui-btn{
	/*background:url(http://p2.qhimg.com/t01cc29b9596c5a3a70.png) no-repeat;padding:0;*/
}

/*.ui-btn-1{width:72px;height:23px;line-height:23px;color:#fff;}
.ui-btn-1:hover{color:#eee;}
*/
.ui-btn-play{background-position:0 -33px;width:17px;height:17px;}

/* title */
.tit-pic{background:url(http://p1.qhimg.com/t0163f1da51e4f8981d.png) no-repeat;height:47px;line-height:150px;overflow:hidden;margin-bottom:10px;position:relative;
}
.tit-pic .more{background:url(http://p7.qhimg.com/t01a69f725eaba2bf39.png) no-repeat;position:absolute;right:12px;top:14px;
	width:68px;height:22px;overflow:hidden;
}

/* 动画歌曲 */
.tit-dhgq{background-position:0 -57px;}
.tit-dhgq .more{background-position:0 -32px;top:10px;}

/* 外语儿歌 */
.tit-wyeg{background-position:0 -108px;}
.tit-wyeg .more{background-position:0 -64px;top:12px;}


/* 排行榜 */
.tit-phb{background-position:0 -162px;}

/* 最新更新 */
.tit-zxgx{background-position:0 -207px;}

/* pic list */
.ui-plist-1 ul{margin-right:-20px;*zoom:1;}
.ui-plist-1 li{width:220px;height:154px;margin:0 31px 15px 0;position:relative;padding-bottom:0;}
.ui-plist-1 a:hover{text-decoration:none;}
.ui-plist-1 .cont h3{color:#fff;font-family:"Microsoft Yahei";font-size:14px;width:130px;
	position:absolute;left:0;bottom:2px;z-index:1;_bottom:5px;
}
.ui-plist-1 .cont .mask{background:#000;color:#fff;width:130px;height:24px;position:absolute;left:0;bottom:0;
	opacity:0.6;filter:alpha(opacity=60);_bottom:3px;
}

.ui-plist-2 ul{margin-right:-24px;*zoom:1;}
.ui-plist-2 li{width:72px;height:100px;margin-right:36px;}
.ui-plist-2 a:hover{text-decoration:none;}
.ui-plist-2 .pic{margin-bottom:2px;}
.ui-plist-2 .cont h3{font-family:"Microsoft Yahei";font-size:14px;color:#fb528f;}
.ui-plist-2-blue .cont h3{color:#0b7cf8;}
.ui-plist-2-purple .cont h3{color:#ab4fed;}

.ui-plist-3 li{position:relative;}
.ui-plist-3 .cover{background:url(http://p4.qhimg.com/t019bf09174b6593bf8.png) no-repeat;width:19px;height:26px;
	position:absolute;left:0;top:0;line-height:20px;text-align:center;color:#fff;
	_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src="http://p4.qhimg.com/t019bf09174b6593bf8.png");
}
.ui-plist-3 .cont p{color:#a6a6a6;padding-top:2px;}
.ui-plist-3 h3 a{color:#5c4e03;}
.ui-plist-3 .thin{height:14px;padding-bottom:15px;margin-bottom:0;*padding-bottom:12px;_padding-bottom:11px;}
.ui-plist-3 .thin .no{background:#ff6d00;color:#fff;float:left;width:17px;height:14px;text-align:center;
	margin-right:7px;font:11px/14px "Arial";
}
.ui-plist-3 .thin h3{float:left;line-height:14px;}
.ui-plist-3 .thin .ui-btn-play{float:right;margin-right:10px;}

/* 热门推荐 */
.picks{background:url(http://p0.qhimg.com/t01c9b005e007114c2b.png) no-repeat 0 2px;width:956px;padding-left:42px;
	margin-bottom:10px;
}
.picks a{margin-right:27px;*margin-right:25px;}

/* 排行榜 */
.phb .hd .tit-pic{height:36px;top:10px;}
.phb .bd-in{padding-top:5px;padding-bottom:0;}

/* 最细更新 */
.zxgx .hd .tit-pic{height:36px;top:10px;}
.zxgx .bd-in{padding-top:5px;padding-bottom:13px;_padding-bottom:14px;}

/* 网站地图 & 合作伙伴 */
.bottomBox {
	width:998px;
	height:280px;
	clear:both;
	background:url(http://p9.qhimg.com/t0119e358f1aa9ca90a.png) no-repeat
}
.map {
	float:left;
	width:576px
}
.map h2 {
	float:left;
	display:block;
	text-indent:-9999px;
	width:24px;
	height:102px;
	background:url(http://p4.qhimg.com/t01bd7546abe27f1476.png) no-repeat;
	margin:84px 0 0 39px;
	display:inline
}
.mapNav {
	width:494px;
	float:left;
	padding-top:39px;
	padding-left:14px
}
.everyList {
	width:494px;
	float:left;
	padding-bottom:10px
}
.mapNav ul li {
	float:left
}
.navList {
	padding-top:3px;font-family:"Microsoft Yahei";
}
.navList li a {
	color:#654b00;
	margin-left:16px;
	display:block
}
.navList li a:hover {
	margin-left:16px;
	display:block
}
.everyList .on {
	background:url(http://p9.qhimg.com/t0128b1c86377fb4dff.png) no-repeat;
	width:66px;
	height:24px;
	text-align:center;
	line-height:24px;
	display:block
}
.mapnavTitle {
	float:left;font-family:"Microsoft Yahei";color:#654b00;
	display:block
}
.mapnavTitle a{color:#654b00;}
.partners {
	width:410px;
	float:right
}
.partners h2 {
	float:left;
	display:block;
	text-indent:-9999px;
	width:24px;
	height:102px;
	background:url(http://p4.qhimg.com/t01bd7546abe27f1476.png) no-repeat top right;
	margin:84px 0 0 18px;
	display:inline
}
.partBox {
	float:left
}
.partList {
	float:left;
	width:318px;
	padding:33px 0 0 16px;*padding-top:17px;
}
.partList a {
	width:92px;
	height:42px;
	float:left;
	display:block;
	padding:5px 6px;
	overflow:hidden;
	color:#585858
}
.partList a img {
	border:#2ab0cc solid 1px
}

.debug{border:1px solid #f00;}