html {
  color: #4b4b4b;
  background: #fff;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: none;
  word-wrap: break-word;
  word-break: break-all;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
body,
button,
input,
select,
textarea {
  font: 12px /1.5em tahoma,arial,helvetica,\5fae\8f6f\96c5\9ed1,\5b8b\4f53,sans-serif;
}
input,
select,
textarea {
  font-size: 100%;
  background: #fff;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  word-wrap: break-word;
  word-break: break-all;
  width: 100%;
  vertical-align: top;
}
th,
td {
  vertical-align: top;
}
th {
  text-align: inherit;
}
fieldset,
img {
  border: none;
}
iframe {
  display: block;
}
abbr,
acronym {
  border: none;
  font-variant: normal;
}
del {
  text-decoration: line-through;
}
address,
caption,
cite,
code,
dfn,
em,
th,
var {
  font-style: normal;
  font-weight: 500;
}
ol,
ul,
li {
  list-style: none;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 700;
}
q:before,
q:after {
  content: '';
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
ins,
a {
  text-decoration: none;
}
a {
  color: #4b4b4b;
}
a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
a:hover,
a:active {
  outline: 0;
  text-decoration: underline;
}
a:hover {
  color: #ba0000;
}
.u-centerwrap {
  margin: 0 auto;
  width: 980px;
}
.u-clear {
  *zoom: 1;
}
.u-clear:after {
  display: block;
  content: '';
  clear: both;
}
.u-ct {
  display: block;
  width: 960px;
  margin: 0 auto;
}
.u-mt5 {
  margin-top: 5px;
}
.u-mr5 {
  margin-right: 5px;
}
.u-mb5 {
  margin-bottom: 5px;
}
.u-ml5 {
  margin-left: 5px;
}
.u-mt10 {
  margin-top: 10px;
}
.u-mr10 {
  margin-right: 10px;
}
.u-mb10 {
  margin-bottom: 10px;
}
.u-ml10 {
  margin-left: 10px;
}
.u-mt15 {
  margin-top: 15px;
}
.u-mr15 {
  margin-right: 15px;
}
.u-mb15 {
  margin-bottom: 15px;
}
.u-ml15 {
  margin-left: 15px;
}
.u-mt20 {
  margin-top: 20px;
}
.u-mr20 {
  margin-right: 20px;
}
.u-mb20 {
  margin-bottom: 20px;
}
.u-ml20 {
  margin-left: 20px;
}
.u-pt5 {
  padding-top: 5px;
}
.u-pr5 {
  padding-right: 5px;
}
.u-pb5 {
  padding-bottom: 5px;
}
.u-pl5 {
  padding-left: 5px;
}
.u-pt10 {
  padding-top: 10px;
}
.u-pr10 {
  padding-right: 10px;
}
.u-pb10 {
  padding-bottom: 10px;
}
.u-pl10 {
  padding-left: 10px;
}
.u-pt15 {
  padding-top: 15px;
}
.u-pr15 {
  padding-right: 15px;
}
.u-pb15 {
  padding-bottom: 15px;
}
.u-pl15 {
  padding-left: 10px;
}
.u-pt20 {
  padding-right: 20px;
}
.u-pr20 {
  padding-right: 20px;
}
.u-pb20 {
  padding-bottom: 20px;
}
.u-pl20 {
  padding-left: 20px;
}
.u-fl {
  float: left;
  _display: inline;
}
.u-fr {
  float: right;
  _display: inline;
}
.u-oa {
  overflow: hidden;
}
.u-indent {
  text-indent: 2em;
}
.u-font12 {
  font-size: 12px;
}
.u-font14 {
  font-size: 14px;
}
.u-text-oa {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.debug {
  border: 1px solid #f00;
}
.n-home .wrap1 {
  height: 78px;
  position: relative;
  overflow: hidden;
}
.n-home .wrap2 {
  height: 230px;
  overflow: hidden;
  background: #f0f0f0;
  padding: 20px 0;
}
.n-home .wrap3 {
  width: 4000px;
}
.n-home .wrap4 {
  width: 660px;
}
.n-home .wrap5 {
  width: 300px;
  overflow: hidden;
}
.n-home .i-logo {
  display: block;
}
.n-home .i-search {
  position: absolute;
  right: 35px;
  top: 25px;
}
.n-home .i-search .u-text {
  height: 24px;
  line-height: 24px\9;
  border: 2px solid #37ad00;
  width: 253px;
  float: left;
  text-indent: 5px;
  outline: none;
}
.n-home .i-search .btn-wrap {
  border: 1px solid #3eaf0e;
  float: left;
  display: inline-block;
  width: 78px;
  height: 26px;
}
.n-home .i-search .btn {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  background: #37ad00;
  overflow: visible;
  cursor: pointer;
  color: #fff;
  font-size: 12px;
}
.n-home .i-nav {
  background: #64b441;
}
.n-home .i-nav ul {
  overflow: hidden;
}
.n-home .i-nav li {
  padding: 0 20px;
  color: #fff;
  float: left;
}
.n-home .i-nav li a {
  font-size: 14px;
  line-height: 45px;
  height: 45px;
  color: #fff;
}
.n-home .i-nav li.cur {
  background: #217815;
}
.n-home .i-nav li.cur a:hover {
  text-decoration: none;
}
.n-home .i-focus {
  width: 450px;
  margin-left: 10px;
}
.n-home .i-focus a {
  float: left;
  margin: 0 10px 10px 0;
}
.n-home .i-focus img {
  display: block;
}
.n-home .u-block {
  *zoom: 1;
}
.n-home .u-block .u-block-hd {
  *zoom: 1;
  height: 42px;
  border: 1px solid #dfdfdf;
  background: #fcfcfc;
  overflow: hidden;
}
.n-home .u-block .u-block-hd-title {
  margin-left: 15px;
  font-size: 14px;
  font-weight: 700;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  line-height: 42px;
}
.n-home .u-block .u-block-hd-link {
  margin-left: 15px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.n-home .u-block .u-block-hd-link a {
  color: #ff6200;
  margin-right: 15px;
}
.n-home .u-block .u-block-hd-more {
  float: right;
  margin-top: 13px;
  margin-right: 15px;
}
.n-home .u-block .u-block-bd {
  *zomm: 1;
  border: 1px solid #dfdfdf;
  border-top: none;
  overflow: hidden;
}
.n-home .u-piclist {
  padding: 15px 0 12px;
  *zoom: 1;
  overflow: hidden;
}
.n-home .u-piclist .u-piclist-title {
  display: block;
  margin-top: 7px;
  text-align: center;
}
.n-home .u-piclist .u-piclist-item {
  margin-left: 20px;
  width: 140px;
  float: left;
  _display: inline;
}
.n-home .u-piclist .u-piclist-item a {
  display: block;
  overflow: hidden;
}
.n-home .u-piclist .u-piclist-item a .u-piclist-pic {
  display: block;
}
.n-home .u-tablelike {
  padding: 20px 10px;
}
.n-home .u-tablelike dl {
  margin-bottom: 5px;
}
.n-home .u-tablelike dt {
  float: left;
  width: 6em;
  text-align: center;
  margin-right: 20px;
  *margin-right: 18px;
  color: #333;
}
.n-home .u-tablelike dd {
  overflow: hidden;
  *zoom: 1;
}
.n-home .u-tablelike dd a {
  color: #666;
  display: inline-block;
  margin-right: 20px;
}
.n-home .tab-nav {
  overflow: hidden;
  *zoom: 1;
}
.n-home .tab-nav-li {
  float: left;
  font-weight: 500;
  margin-top: 5px;
  font-size: 14px;
}
.n-home .tab-nav-li a {
  display: block;
  padding: 5px 10px;
  border-bottom: 2px solid #fff;
}
.n-home .tab-nav-li a:hover {
  text-decoration: none;
}
.n-home .tab-nav-current a {
  color: #37ad00;
  border-bottom: 2px solid #37ad00;
}
.n-home .tab-content {
  margin-top: 5px;
  padding-bottom: 7px;
}
.n-home .i-datetable td {
  padding: 2px 0;
}
.n-home .i-datetable .top,
.n-home .i-datetable .top a {
  color: #ff6200;
}
.n-home .i-datetable .c0 {
  width: 28%;
}
.n-home .i-datetable .c1 {
  width: 28%;
}
.n-home .i-datetable .c2 {
  width: 18%;
}
.n-home .i-zone {
  width: 300px;
  overflow: hidden;
}
.n-home .i-zone .i-zone-pic {
  margin-left: -8px;
  width: 1000px;
  height: 90px;
  overflow: hidden;
  font-size: 0;
}
.n-home .i-zone .i-zone-pic img {
  display: inline-block;
  width: 105px;
  height: 90px;
}
.n-home .i-zone .i-zone-pic a:hover span {
  text-decoration: none;
}
.n-home .i-zone .i-zone-list-pic {
  position: relative;
  padding-top: 3px;
  margin-right: 8px;
  *margin-right: 6px;
  float: left;
}
.n-home .i-zone .i-zone-list-pic img {
  display: block;
}
.n-home .i-zone .i-zone-list-pic-title {
  position: absolute;
  bottom: 0;
  background: #fb7983;
  display: block;
  width: 105px;
  height: 20px;
  line-height: 20px;
  text-indent: 5px;
  color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.n-home .i-zone .i-zone-list {
  padding: 0 10px;
}
.n-home .i-zone .i-zone-list ul {
  overflow: hidden;
  display: block;
  *zoom: 1;
}
.n-home .i-zone .i-zone-list li {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 19px;
}
.n-home .i-order .i-order-pic {
  margin-top: 13px;
  margin-bottom: 30px;
  overflow: hidden;
  clear: both;
}
.n-home .i-order .i-order-pic img {
  float: left;
  _display: inline;
  margin-right: 8px;
}
.n-home .i-order .i-order-pic-list {
  float: left;
}
.n-home .i-order .i-order-pic-list li {
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.n-home .i-order .i-order-pic-list li a {
  color: #999;
}
.n-home .i-order .i-order-pic-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
  font-weight: 700;
  margin-top: 3px;
  margin-bottom: 7px;
}
.n-home .i-order .i-order-list-top .i-order-list-index {
  background: #ff7f01;
}
.n-home .i-order .i-order-list-index {
  margin-right: 5px;
  background: #c6c6c6;
  border-radius: 3px;
  padding: 0 4px;
  color: #fff;
}
.n-home .i-order .i-order-list-top,
.n-home .i-order .i-order-list {
  clear: both;
  line-height: 25px;
}
.n-home .i-order .i-order-list-top a,
.n-home .i-order .i-order-list a {
  color: #999;
}
.n-home .i-partner .u-piclist-item {
  width: 115px;
  margin-bottom: 5px;
}
.i-footer {
  background: #f0f0f0;
  padding: 9px 0;
  text-align: center;
}
.i-footer a {
  color: #2a7ca2;
}